rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth.uid in get(/databases/$(database)/documents/systems/admin).data.uids;
    }

    match /system/votes/pools/{voteUID} {
      allow read;
	    allow create, update:
      	if request.auth.uid == voteUID;
      allow write:
      	if isAdmin();
    }

    match /system/admins/uid {
      allow read;
      allow write:
        if isAdmin();
    }
  }
}
