rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth.uid in get(/databases/$(database)/documents/system/admins).data.uids;
    }

    match /system {
      allow read;
      allow write: if isAdmin();
      
      match /admins {
      	allow read;
        allow write: if isAdmin();
      }

      match /votes {
        allow read;
	      allow write: if isAdmin();
        
        match /choices/{choiceID} {
        	allow read;
          allow write: if isAdmin();
        }

        match /pools/{voteUID} {
          allow read;
          allow create, update:
            if request.auth.uid == voteUID;
          allow write:
            if isAdmin();
        }
      }
    }
  }
}
